<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitekaartje</title>
    <link rel="stylesheet" href="/style.css"><!--geen public ervoor zetten dit hoort zo-->
    <script type="text/javascript" src= "/interaction.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
  </head>
  <body>